<table class="content_table" align="center" width="80%">
	<tr>
		<td align="center">
			<h4><%= headline.title %></h4>
		</td>
	</tr>
	<tr>
		<td>
			<article>
				<%= headline.body %>
			</article>
		</td>
	</tr>
	<tr>
		<td>
			<small>
				Posted by <%= headline.poster %>
			</small>
		</td>
	</tr>
</table>